<div class="row expanded" id="footer-top-row">
    This is footer.
</div>

<div class="row expanded" id="footer-bottom-row">
    <div id="copyright" class="column small-12">
        Copyright {{"now"|date('Y')}}
    </div>
</div>