{% if not is_home %}
<div class="row expanded" id="footer-top-row">
    <div class="column small-12 medium-4">
        <h1 class="footer-title">Location</h1>
        {# <p>{{options.address_line_1}}</p>
        <p>{{options.address_line_2}}</p> #}
    </div>
    <div class="column small-12 medium-4">
        <h1 class="footer-title">Hours</h1>
        {# {% for line in options.business_hours %}
			<p>{{line.info_line}}</p>
		{% endfor %} #}
    </div>
    <div class="column small-12 medium-4 social">
        <h1 class="footer-title">Social</h1>
        <div id="footer-icon-wrapper">
            {% include "social-icons.twig" %}
        </div>
    </div>
</div>
{% endif %}

<div class="row expanded" id="footer-bottom-row">
    <div id="copyright" class="column small-12">
        Copyright {{"now"|date('Y')}}
    </div>
</div>