<div id="nav-sticky-container">
    <div class="row expanded" id="menu-bar">

        <div id="site-logo-container">
            <a id="site-link" href="{{site.link}}">
                <img id="header-logo" class="logo" src="{{logo_src}}" />
            </a>
        </div>
        
    </div>
</div>