<div id="banner-nav">
    <div class="column small-12 banner-nav-row" id="banner-nav-menu">
        {% include "menu.twig" with {'menu': menu} %}
    </div>
    <div class="column small-12 banner-nav-row" id="banner-nav-icon-wrapper">
        <ul class="menu">
            <li>{% include "social-icons.twig" %}</li>
        </ul>
    </div>
</div>