<span>
    <a href="{{options.fb_link}}" target="_blank">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </a>
</span>
<span>
    <a href="{{options.instagram_link}}" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
</span>
<span>
    <a href="mailto:{{options.email_address}}" target="_blank">
        <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
</span>